<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="DataFlow | Candidate Testing Portal">
    {% load staticfiles %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/DF Logo.svg' %}">

    <!-- CDN CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/admin_home.css' %}">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/8aa13c88ab.js"></script>

    <title>DataFlow | Admin Board</title>
</head>
<body>
    <noscript>
        Your Browser's JavaScript has been turned off kindly enable it.
    </noscript>

    <header class="header container-fluid">
        <div class="row admin-head">
            <div class="admin-logo col-lg-11">
                <a href="" class="admin-logo__h3">ADMIN BOARD</a>
            </div>
    
            <div class="admin-logout col-lg-1">
                <a href="{% url 'adminboard:logoutAdmin' %}" class="btn btn--logout">Logout</a>
            </div>
        </div>
    </header>
    {% if email in authorized_admin %}
    <main class="board container-fluid">
        <div id="grid">
            <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
        </div>
        
        <aside class="nav">
            <ul class="navbar">
                <li class="nav-items"> <a href="{% url 'adminboard:adminhome' %}" class="active"><i class="fas fa-home"></i>Home</a> </li>
                <li class="nav-items"> <a href="{% url 'adminboard:adminuser' %}" ><i class="fas fa-user"></i>User</a> </li>
                <li class="nav-items"> <a href="{% url 'adminboard:addquest' %}"><i class="fas fa-book"></i>Question</a> </li>
                <li class="nav-items"> <a href="{% url 'adminboard:submission' %}"><i class="fas fa-tasks"></i>Submissions</a> </li>
            </ul>
        </aside>

        <div class="screen">
            <!-- <div class="screen__head">
                <h2>Welcome to Admin Board</h2>
                <p>Here you can keep a tab on number of candidate credentials active, the question bank, and review candidate submissions.
                    Also you can add new data, delete and update in regards to the above disclaimer.</p>
            </div> -->

            <div class="screen__card">
                <div class="card">
                    <p class="card__p">Number of Candidate credentials</p>
                    <h2 class="card__h2">{{ candidate_count }}</h2>
                    <span class="card__ico"><i class="fas fa-user"></i></span>
                </div>
                <div class="card">
                    <p class="card__p">Number of Submissions for Review</p>
                    <h2 class="card__h2">{{candidate_under_review}}</h2>
                    <span class="card__ico"><i class="fas fa-tasks"></i></span>
                </div>
            </div>

            <div class="screen__table mt-5">
                <div class="screen__table__top">
                    <h4 class="table-title">Shorlisted Candidates</h3>
                </div>

                <table class="table" id="sTable">
                    <thead>
                        <tr>
                            <th scope="row">#</th>
                            <th scope="row">Name</th>
                            <th scope="row">Email</th>
                            <th scope="row">Profile</th>
                            <th scope="row">Team</th>
                            <th scope="row">Score</th>
                            <th scope="row">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in candidate_selected %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ i.fullname }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.designation }}</td>
                            <td>{{ i.team }}</td>
                            <td>{{ i.score }}</td>
                            <td>{{ i.selectionstatus }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    {% else %}
        <h1>You do not have admin rights.</h1>
    {% endif %}

    <!-- Script
    ------------------------>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <!-- <script src="../assets/js/inspect.js"></script>s -->

    <script>
        const email = `{{ email }}`;
    </script>
    <script src="{% static 'js/index.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('#sTable').DataTable();
        });
    </script>
</body>
</html>